<form style="margin-bottom: 0" method="post" action="{{ path('app_admin_reserva_delete', {'id': reserva.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres cancelar la reserva?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserva.id) }}">
	<button class="emoji">❌</button>
</form>