<form method="post" action="{{ path('app_admin_categoria_delete', {'id': categorium.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres borrar la categoria?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorium.id) }}">
    <button class="btn">Borrar Categoria</button>
</form>
