{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1>
			Hola
			{{ app.user.getName }}
		</h1>
		<section class="mi-perfil-section">
			<button>
				<a href="{{path('app_mis_reservas')}}">Ver mis reservas</a>
			</button>
			<button>
				<a href="/logout">Cerrar Sesión</a>
			</button>
		</section>
	</main>
{% endblock %}
