{% extends 'base.html.twig' %}

{% block body %}
	{% for messages in app.flashes %}
		{% for message in messages %}
			<p class='success'>{{ message }}</p>
		{% endfor %}
	{% endfor %}
	<main>
		<h1>
			Hola
			{{ app.user.getName }}
		</h1>
		<section class="flex-center">
			<a class="btn" href="{{path('app_mis_reservas')}}">Ver mis reservas</a>
			<a class="btn" href="/logout">Cerrar Sesión</a>
		</section>
	</main>
{% endblock %}
