{% extends 'base.html.twig' %}

{% block title %}Edit Carta
{% endblock %}

{% block body %}
	<main>
		<h1>Editar Producto</h1>

		{{ include('admin_carta/_form.html.twig', {'button_label': 'Update'}) }}

<section class="flex-center">
		<a href="{{ path('app_admin_carta_index') }}">Volver a la lista de productos</a>
</section>
	</main>
{% endblock %}
