
###> symfony/framework-bundle ###

# SUBO .ENV A GITHUB PARA QUE SE PUEDA CONFIGURAR EL DEFAULT_URI EN EL FRAMEWORK
# .env
# /.env
# /.env.local
# /.env.local.php
# /.env.*.local

*.env.dev*
*.env.local*


/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
