{% extends 'base.html.twig' %}

{% block title %}
	Aviso Legal
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Aviso Legal</h1>
			<article>
				<h3>
					Información General
				</h3>
				<p>
					En cumplimiento de la Ley 34/2002 de servicios de la sociedad de la información y de comercio electrónico, los datos identificativos del titular del sitio web son:
				</p>
				<p>
					<strong>Denominación Social:
					</strong>miRestaurante S.L.</p>
				<p>
					<strong>NIF:
					</strong>B-12345678</p>
				<p>
					<strong>Email de contacto:
					</strong>
					<a href="mailto:csorin.dev@gmail.com">csorin.dev@gmail.com</a>
				</p>
				<p>
					<strong>Teléfono:
					</strong>
					<a href="tel:666666666">666 666 666</a>
				</p>
			</article>

			<article>
				<h3>Propiedad Intelectual</h3>
				<p>Todo el contenido de esta web (textos, imágines, logos) es propiedad de miRestaurante S.L. Queda prohibida su reproducción total o parcial sin autorización previa.</p>
			</article>

			<article>
				<h3>Protección de datos (RGPD)</h3>
				<p>
					De conformidad con el Reglamento (UE) 2016/679, informamos que los datos personales que el usuario facilite a través de formularios de reserva o contacto serán tratados por el Responsable del Tratamiento únicamente para gestionar su solicitud.
				</p>
				<ul>
					<li>
						<strong>Finalidad:
						</strong>Gestión d ereservas y atención al cliente
					</li>
					<li>
						<strong>Legitimación:
						</strong>Consentimiento del interesado
					</li>
					<li>
						<strong>Derechos:
						</strong>Puedes acceder, rectificar o suprimir tus datos enviando un email a nuestro contacto
					</li>
				</ul>
			</article>

			<article>
				<h3>Precios</h3>
				<p>Todos los precios listados incluyen IVA</p>
			</article>
		</section>
	</main>
{% endblock %}
