:root {
    --color-primary: #000;
    --color-background: #ff6347;
    --color-background-hover: #f3593e;
    --shadow-medium: 3px 3px 5px #aaa, -3px 3px 5px #aaa;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue', sans-serif;
}

main {
    max-width: 1240px;
    margin: 0 auto;
}

section {
    padding: 1em;
}

section:not(#hero) {
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 5em;
}

article {
    margin-bottom: 5em;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

h2 {
    text-align: center;
}

h1, h2, h3, h4 {
    margin-bottom: .5em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-background-hover)
}

p {
    margin-bottom: .5em;
}

small {
    color: #555;
    font-style: italic;
}



/* BUTTON STYLE */
.btn {
    color: #000;
    background-color: var(--color-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: .5em 1em;
    transition: .3s;
    box-shadow: 1px 1px 3px transparent, 1px -1px 3px transparent;
}

.btn:hover {
    background-color: var(--color-background-hover);
    /* scale: 102%; */
    box-shadow: 1px 1px 3px var(--color-background), 1px -1px 3px var(--color-background);
}

/* HEADER */

#mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--color-background);
    box-shadow: var(--shadow-medium);
}

#mainHeader li a:last-child {
    padding: 0;
}

#mainHeader:not(nav) {
    z-index: 10;
}

#hbBtn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
}

#hbBtn div:nth-child(1),
#hbBtn div:nth-child(2),
#hbBtn div:nth-child(3) {
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: var(--color-primary);
}

#hbBtn div:nth-child(1) {
    position: relative;
    top: -5px;
}

#hbBtn div:nth-child(3) {
    position: relative;
    top: 5px;
}

#navMenu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    width: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25em;
    z-index: -10;
    transition: .3s;
    white-space: nowrap;
    overflow: hidden;
}

#navMenu.active {
    width: 100%;
}

#navMenu li,
#navMenu a {
    padding: .25em .5em;
    margin: 2em 0;
    color: #000;
    text-decoration: none;
}

#navMenu a::after {
    content: "";
    width: 0%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background-color: var(--color-primary);
    transition: .3s;
}

#navMenu a.active-link::after {
    width: 100%;
}

#navMenu a:hover::after {
    width: 100%;
}

/* FOOTER */

footer {
    padding: 1em;
    text-align: center;
    border-top: 1px solid var(--color-primary);
    font-size: small;
}

/* MEDIA QUERYS */

@media (min-width:760px) {
    #hbBtn {
        display: none;
    }

    #navMenu {
        position: static;
        height: fit-content;
        width: fit-content;
    }

    #navMenu ul {
        display: flex;
        gap: 1em;
    }

    #navMenu li {
        margin: 0 .25em;
        padding: 0;
    }
}

#heroImg {
    width: 100%;
}

#hero button {
    display: flex;
    margin: 0 auto;
    font-size: 1em;
    /* padding: .5em 1em; */
}

/* CARTA */

#cartaHeader {
    max-width: 100dvw;
    display: flex;
    justify-content: center;
}

#cartaHeader ul {
    display: flex;
    gap: 1em;
    margin: 1em;
    overflow-x: auto;
    scrollbar-width: none;
}

#cartaHeader li {
    cursor: pointer;
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    padding: 0 .5em;
    transition: .3s;
}

#cartaHeader li:hover {
    background-color: var(--color-background);
}

#cartaHeader li.active {
    background-color: var(--color-background);
    color: #fff;
}

#cartaList {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

#cartaList li {
    box-shadow: var(--shadow-medium);
    border-radius: 10px;
    padding: 2em;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#cartaList p:last-child {
    text-align: end;
}

#cartaList h2 {
    flex-grow: 1;
    margin: .5em 0;
}

#cartaList img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    box-shadow: var(--shadow-medium);
    border-radius: 10px;
}

#carta-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.carta-item {
    box-shadow: var(--shadow-medium);
    padding: 1em;
    border-radius: 10px;
    width: 280px;
    height: 350px;
    background: linear-gradient(45deg, #fff, #eee);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.carta-item img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
    box-shadow: var(--shadow-medium);
    border-radius: 10px;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.carta-item .descripcion {
    flex: 1;
}

/* FLASHBAGS */

.error-message {
    display: block;
    text-align: center;
    font-style: italic;
    color: red;
    margin-bottom: .5em;
}

/* ALERTAS FLASH */

.alert-success {
    color: green;
    text-align: center;
}

/* RESERVAS LIST */

.reservas-list-no-reservas {
    display: grid;
    place-content: center;
    place-items: center;
}

.reservas-list-no-reservas button {
    max-width: fit-content;
}

/* TABLAS */

table {
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 10px;
    width: clamp(320px, 90dvw, 500px);
}

table th,
table td {
    text-align: start;
    padding: .5em;
}

table button {
    margin: .5em;
}

table~button {
    margin: 0 auto;
}

form {
    margin-bottom: 2em;
}

form div {
    display: grid;
    width: 90dvw;
    max-width: 350px;
    margin: 0 auto;
}

form div input,
form div textarea,
form div select {
    padding: .5em;
    margin-bottom: 1em;
}

form div input[type='file'] {
    padding: 0;
    margin: 1em 0;
}

form~section {
    display: flex;
    justify-content: center;
}

form div:has(input[type="checkbox"]) {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

form input[type="checkbox"] {
    scale: 150%;
}

form button {
    font-size: 16px;
}

/* UTILS */

/* CENTER LINK */
.center-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.center-table td, .center-table th {
    text-align: center;
    /* font-size: 18px; */
}



/* FLEX CENTER */

.flex-center {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

/* RESERVA NOT-LOGGED */

.reserva-not-logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.reserva-not-logged div {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/* CATEGORIA HEADER */

#categoria-header {
    display: flex;
    gap: .75em;
    width: 90dvw;
    max-width: fit-content;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 1em auto;
}

.category-button {
    border-radius: 100px;
    padding: .25em .5em;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-background-hover);
    font-size: 16px;
    transition: .3s;
}

.category-button.active {
    background-color: var(--color-background);
    color: white;
}

.category-button:hover {
    background-color: var(--color-background);
    color: white;
}

.emoji {
    all: unset;
    cursor: pointer;
    padding: .5em;
}

.admin-actions a {
    margin-bottom: 1em;
}

.reserva-card {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid var(--color-primary);
}