form {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 350px;
    gap: .5em;
    margin: auto;
}

form input {
    padding: .5em;
}

form button {
    padding: .5em;
    background-color: red;
}

form a {
    color: #ff6347;
}