h2 {
    text-align: center;
}

.reserva-form div {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 1em auto;
    gap: .5em;
}

.reserva-form input {
    padding: .5em;
}

.reserva-form div:has(#registration_.reserva-form_agreeTerms) {
    display: flex;
    gap: 1em;
    justify-items: start;
}

.reserva-form a {
    color: #ff6347 ;
}

input[type="checkbox"] {
    scale: 150%;
}