.reserva-not-logged {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 2em;
    background: linear-gradient(90deg, #fff, #ccc);
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey, -3px 3px 5px grey;
}

.reserva-not-logged h1 {
    margin: 0;
}

.reserva-not-logged-links {
    display: grid;
}

.reserva-not-logged div:last-child {
    display: grid;
}

small {
    color: #333;
    font-style: italic;
}