{% extends 'base.html.twig' %}

{% block body %}
	<section>
		{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
			<h1>Hola
				{{app.user.name}}
			</h1>
			<h3>¿Qúe quieres hacer?</h3>
            <br>
			<nav class="admin-actions">
				<a class="btn center-link" href="{{ path('app_admin_reserva') }}">Ver Reservas</a>
				<a class="btn center-link" href="{{ path('app_admin_carta_index') }}">Modificar Productos</a>
				<a class="btn center-link" href="{{ path('app_admin_categoria_index') }}">Modificar Categorías</a>
			</nav>
		{% else %}
			<h1>Acceso Denegado</h1>
		{% endif %}
	</section>
{% endblock %}
