{% extends 'base.html.twig' %}

{% block stylesheets %}
<script src="{{ asset('js/handleCarta.js') }}" defer></script>
{% endblock %}


{% block body %}
	<main>
		<header id="categoria-header">
			{% for categoria in categorias %}
				<button value="{{categoria.nombre}}">{{ categoria.nombre }}</button>
			{% endfor %}
		</header>

		<section id="carta-section">
			<p>Cargando la carta...</p>
		</section>
	</main>
{% endblock %}
