<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			miRestaurante
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/logo.png') }}">
		<link href="{{ asset('css/global.css') }}" rel="stylesheet" type="text/css"/> 
		{% block stylesheets %}{% endblock %}
		<script src="{{ asset('js/script.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% include "components/header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "components/footer.html.twig" %}
	</body>
</html>
