<header id="mainHeader">
	<a href="./">
		<img src="{{ asset('img/logo.png') }}" alt="logo" height="48px">
	</a>
	<button id="hbBtn">
		<div></div>
		<div></div>
		<div></div>
	</button>
	<nav id="navMenu">
		<ul>
			<li>
				<a href="/">INICIO</a>
			</li>
			<li>
				<a href="/carta">CARTA</a>
			</li>
			<li>
				<a href="/reserva">RESERVA</a>
			</li>
			{% if app.user %}
				<li>
					<a href="/mi-perfil">
						{% include "/icons/person.html.twig" %}
					</a>
				</li>
			{% else %}
				<li>
					<a href="/login">
						INICIAR SESIÓN
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>
