<header id="mainHeader">
    <a href="./">
        <img src="img/logo.png" alt="logo" height="48px">
    </a>
    <button id="hbBtn">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <nav id="navMenu">
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/carta">CARTA</a></li>
            <li><a href="/reserva">RESERVA</a></li>
            <li><a href="/login">INICIAR SESIÓN</a></li>
        </ul>
    </nav>
</header>