{% extends 'base.html.twig' %}

{% block title %}
	- Términos y Condiciones
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1>Términos y Condiciones</h1>
			<article>
				<h3>Responsble del Tratamiento</h3>
				<p>
					El responsable de los datos recogidos en esta web es miRestaurante S.L., con NIF B-12345678
				</p>
			</article>
			<article>
				<h3>Finalidad de los Datos</h3>
				<p>
					Solo te pediremos los datos estrictamente necesarios (Nombre, Email y Teléfono) para las siguientes finalidades:
				</p>
				<ul>
					<li>
						<strong>
							Gestión de Reservas:
						</strong>Tramitar y confirmar tu mesa en nuestro local.
					</li>
					<li>
						<strong>
							Comunicación directa:
						</strong>
						Enviarte la confirmación o contactar contigo en caso de cambios en tu reserva mediante WhatsApp, correo electrónico o teléfono.
					</li>
				</ul>
				<p>
					<strong>
						Nota Importante:
					</strong>
					No utilizaremos tus datos para enviar publicidad masiva (SPAM) ni boletines informativos
				</p>
			</article>

			<article>
				<h3>Legitimación</h3>
				<p>
					La base legal para tratar tus datos es la ejecución de un contrato (la reserva que estás solicitando) y el consentimiento que nos das al marcar la casilla en el formulario de registro.
				</p>
			</article>

			<article>
				<h3>Plazo de Conservación</h3>
				<p>
					Mantendremos tus datos personales solo el tiempo necesario para gestionar la reserva. Una vez finalizado el servicio, los datos serán bloqueados o eliminados conforme a la normativa vigente, a menos que decidas mantener tu cuenta de usuario activa.
				</p>
			</article>

			<article>
				<h3>Tus Derechos (Derechos ARCO)</h3>
				<p>
					Tienes derecho a:
				</p>
				<ul>
					<li>
						Saber qué datos tenemos de ti (Acceso).
					</li>
					<li>
						Corregir datos incorrectos (Rectificación).
					</li>
					<li>
						Pedir que borremos tus datos cuando ya no sean necesarios (Supresión).
					</li>
					<li>
						Oponerte al tratamiento en cualquier momento.
					</li>
				</ul>
				<p>
					Para ejercer estos derechos, solo tienes que enviarnos un correo a:
					<a href="mailto:csorin.dev@gmail.com">csorin.dev@gmail.com</a>
				</p>
			</article>
		</section>
	</main>
{% endblock %}
